<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArXX2rDfXJBE25_SphuAs2UNk_H8siVAk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009069069710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawskills</string>
	<key>PROJECT_ID</key>
	<string>pawskills-3c9fa</string>
	<key>STORAGE_BUCKET</key>
	<string>pawskills-3c9fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009069069710:ios:8cebb9046aa5dfaa3940df</string>
	<key>DATABASE_URL</key>
	<string>https://pawskills-3c9fa-default-rtdb.firebaseio.com</string>
</dict>
</plist>